body {
    background-color: #837b7a;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    background-color: #3E3534;
    border-top: 2px solid #E4DFDF;
    border-left: 2px solid #E4DFDF;
    border-right: 2px solid #E4DFDF;
    border-bottom: 10px solid #E4DFDF;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    height: 10%;


}

.titular {
    position: relative;
    margin-top: 1%;
    text-align: center;
    vertical-align: top;
    color: white;
    font-size: 2em;
    font-weight: bolder;
    letter-spacing: 8px;
    word-spacing: 20px;
}

/* elimina el formato standart para los enlaces */
a{
    text-decoration: none;
}


.overlay {
    position: absolute;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contenedor {
    background: #3E3534;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 60%;
    height: 60%;
}

.score {
    font-size: 1.2em;
    line-height: 16px;
    position: relative;
    top: 0;
    left: 35%;
    color: white;
    padding-bottom: 5px;
}

.num-score {
    color: #138a19;
}
.vidas {
    font-size: 1.2em;
    line-height: 16px;
    position: relative;
    top: 0;
    right: 38%;
    color: white;
    padding-bottom: 5px;
}

.num-vidas {
    color: #138a19;
}

.contenedor-preg {
    color: white;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    height: 80px;
}

.button-quiz {
    font-size: 2em;
    height: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}
.button-score {
    font-size: 2em;
    height: 100px;
    margin-bottom: 20px;
}
.button-reset button{
    font-size: 2em;
    height: 100px;
}
.button-quiz-respuesta{
    width: 600px;
    height: 50px;
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 50px;
}

.registro{
    color: white;
    font-size: 2em;
    font-weight: bolder;
}
.registro h2{
    font-size: 1em;
}
.registro input{
    font-size: 1em;
    width: 400px;
    height: 50px;
}
.botonRegistro{
    width: 150px;
    height: 50px;
    font-size: 30px;
}

table{
    color: white;
    font-size: 1em;
    font-weight: bolder;
    text-align: left;
    position: relative;
    align-items: center;
}
.scoreTabla tr td{
    padding-right: 100px;
}

a{
    text-decoration: none;
    color:white;
}

